.Dashboard {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: black;
}
.Rectangle5 {
    width: 100vw;
    height: 80px;
    position: absolute;
    background: #202020;
}
.Rectangle6 {
    width: 15.8%;
    height: 75.17%;
    left: 1.5%;
    top: 18.08%;
    position: absolute;
    background: #202020;
    border-radius: 10px;
}
.Rectangle7{
    width: 50%;
    height: 21%;
    left: 33%;
    top: 18.08%;
    position: absolute;
    background: #202020;
    border-radius: 10px;
}
.Rectangle8{
    width: 15.8%;
    height: 6%;
    left : 1.5%;
    position: absolute;
    background: #2E2E2E;
    top: 28%;
    border-radius: 10px;
    text-align: center;
    padding-top: 1%;
    color: white;
}
.Rectangle13{
    width: 38%;
    height: 52%;
    left: 20.17%;
    top: 42%;
    position: absolute;
    background: #202020;
    border-radius: 10px;
}
.Rectangle10{
    width: 36%;
    height: 52%;
    left: 60%;
    top: 42%;
    position: absolute;
    background: #202020;
    border-radius: 10px;
}

.Rectangle12{
    width: 14%;
    height: 6%;
    left: 18%;
    top: 3.8%;
    position: absolute;
    background-color: black;
    border: 1px solid #00FFF5;
    border-radius: 10px;
    text-align: center;
    padding-top: 2%;
    color: white;
}
.Rectangle11{
    width: 17%;
    height: 2%;
    left: 18%;
    top: 12%;
    position: absolute;
    background-color: black;
}
.Rectangle20{
    width: 15.8%;
    height: 6%;
    left : 1.5%;
    position: absolute;
    background: #202020;
    top: 20%;
    border-radius: 10px;
}
.Rectangle20 a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; 
    color: inherit; 
    text-align: center;
    color: white;
    padding-top: 5%;
}
.Rectangle21{
    width: 15.8%;
    height: 6%;
    left : 1.5%;
    position: absolute;
    background: #202020;
    top: 38%;
    border-radius: 10px;
}
.Rectangle21 a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; 
    color: inherit; 
    text-align: center;
    color: white;
}
.Rectangle30{
    width: 16%;
    height: 5%;
    left : 34%;
    position: absolute;
    background: #202020;
    top: 3%;
    border-radius: 10px;
    padding-top: 2%;
}
.Rectangle30 a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; 
    color: inherit; 
    text-align: center;
    color: white;
}
.Rectangle31{
    width: 16%;
    height: 5%;
    left : 50%;
    position: absolute;
    background: #202020;
    top: 3%;
    border-radius: 10px;
    padding-top: 2%;
}
.Rectangle31 a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; 
    color: inherit; 
    text-align: center;
    color: white;
}

.Rectangle32{
    width: 16%;
    height: 5%;
    left : 65%;
    position: absolute;
    background: #202020;
    top: 3%;
    border-radius: 10px;
    padding-top: 2%;
}
.Rectangle32 a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; 
    color: inherit; 
    text-align: center;
    color: white;
}

.Rectangle33{
    width: 16%;
    height: 5%;
    left : 80%;
    position: absolute;
    background: #202020;
    top: 3%;
    border-radius: 10px;
    padding-top: 2%;
}
.Rectangle33 a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; 
    color: inherit; 
    text-align: center;
    color: white;
}
.Rectangle50{
    width: 30%;
    height: 30%;
    left : 10%;
    position: absolute;
    background: #111111;
    top: 25%;
    border-radius: 10px;
    padding:2%;
    color: white;
    font-size: 23px;
}
.Rectangle51{
    width: 30%;
    height: 30%;
    left : 50%;
    position: absolute;
    background: #111111;
    top: 25%;
    border-radius: 10px;
    padding:2%;
    color: white;
    font-size: 23px;
}
.custom-table {
    width: 100%;
    font-size: 20px; /* Increase font size */
    color: white; /* Change text color to white */
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.custom-table th {
    background-color: #333;
    color: white;
}
.custom-table,
.custom-table th,
.custom-table td {
    border-color: #00FFF5; /* Change border color to white */
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}