<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-vml.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.anychart.com/releases/v8/fonts/css/anychart.min.css"
    />
    <title>Accounts.Credits</title>
    <link rel="stylesheet" href="static\accounts_credits.css" />
  </head>
  <body>
    <div class="Dashboard">
      <div class="Rectangle5"></div>
      <div class="Rectangle6"></div>
      <div class="Rectangle7_1" id="container1"></div>
      <div class="Rectangle7">
        <div class="Rectangle50" id="expected">
          Expected<br />Rs.&emsp;{{data}}
        </div>
        <div class="Rectangle51" id="collected">
          Collected<br />Rs.&emsp;{{data1}}
        </div>
        <div class="Rectangle52" id="remaining">
          Remaining<br />Rs.&emsp;{{data2}}
        </div>
      </div>
      <div class="Rectangle8">Credit</div>
      <div class="Rectangle9">
        Credit History
        <table class="custom-table">
          <tr>
            <th>Payment Id</th>
            <th>Mode of Payment</th>
            <th>Date of Payment</th>
            <th>Student Name</th>
            <th>Amount</th>
          </tr>
          {% for product in data3 %}
          <tr>
            <td>{{ product[0] }}</td>
            <td>{{ product[1] }}</td>
            <td>{{ product[2] }}</td>
            <td>{{ product[3] }}</td>
            <td>{{ product[4] }}</td>
          </tr>

          {% endfor %}
        </table>
      </div>
      <div class="Rectangle12">Accounts</div>
      <div class="Rectangle11"></div>
      <div class="Rectangle20"><a href="/accounts">Dashboard</a></div>
      <div class="Rectangle21"><a href="/accounts.debit">Debit</a></div>
      <div class="Rectangle30"><a href="/rooms">Rooms</a></div>
      <div class="Rectangle31"><a href="/">Dashboard</a></div>
      <div class="Rectangle32"><a href="/attendance">Attendance</a></div>
      <div class="Rectangle33"><a href="/amenities">Amenities</a></div>
      <div class="Rectangle34"><a href="/credits">Expand</a></div>
    </div>
  </body>
  <script>
    anychart.onDocumentReady(function() {
        var data = {{occupied_data|safe }};
        var chart1 = anychart.pie(data);
        title = chart1.title("Accounts");
        chart1.innerRadius("70%");
        chart1.container("container1");
        chart1.background().enabled(true); // Enable background
        chart1.palette(["#00FFF5","#FFE504"]);
        chart1.background().fill("transparent"); // Set background fill color to transparent
        chart1.draw();
    });
  </script>
</html>
